@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@300&display=swap');

body {
    font-family: 'Open Sans', 'Bradley Hand', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

headline {
    font-family: Oswald, Helvetica, sans-serif;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5PX;
}

#content {
    max-width: 1600px;
    margin: 0 auto;   
}
nav a {
    padding: 35px;
    text-align: center;
    color: black;
    text-decoration: none;
}
#hero_msg h1, #hero_msg h4 {
    text-align: center;
}
.button_box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}
body {
    background-color: #678D58;
}
header {
    background-color: #87A971;
}
nav a:hover {
    background-color: #F6E7CB;
    color: black;
}
.book, .join {
    padding: 15px 30px;
    background-color: #EABFA9;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #DD9787;
}
#background {
    background-color: #F6E7CB;
}
.msg {
    padding: 35px;
    background-color: #F6E7CB;
}

.rivers_card, .camping_card, .rapids_card {
    margin: 200px 0;
}

.home_title {
    margin-top: 10px;
    font-size: 2em;
    font-family: oswald, Helvetica, sans-serif;
    color: #F6E7CB;
}
h4 {
    color: #F6E7CB;
}

.book, .join {
    border-radius: 5px;
    margin-top: 50px;
    font-size: 18px;
    color: black;
}
.book:hover, .join:hover {
    color: black;
}

.card_img {
    border: 10px solid #DD9787;
}

.icon {
    padding-top: 10px;
    width: 80px;
}
.logo {
    width: 80px;
}
#hero_img {
    width: 100%;
}

.msg h2 {
    line-height: 1.5em;
    font-size: 0.8em;
    font-family: oswald, Helvetica, sans-serif;
    color: #678D58;
}
.msg p {
    padding-bottom: 15px;
    color: #678D58;
}
footer {
    margin-top: 200px;
    padding: 25px 50px;
    background-color: #DD9787;
}
footer h3{
    color: black;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    color: whitesmoke;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}